body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
h1{
    font-size: 50px;
}
.name_color{
    color: rgb(255, 239, 11);
}
.container{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.width_set{
    width: 50%;
    padding-left: 8%;
}
.btn_style{
    color: rgb(4, 13, 15);
    font-size: 20px;
    padding: 10px 40px;
    border: 2px solid rgb(230, 70, 13);
    text-decoration: none;
    border-radius: 9px;
}
.btn_style:hover{
    border: none;
    background-color: rgba(93, 198, 230, 0.651);
    box-shadow: 10px 5px 5px rgba(84, 84, 177, 0.774);
}
.dream_container{
    display: flex;
    margin-top: 200px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.width_set img{
    width: 80%;
}
.web_color{
    color: deepskyblue;
    font-size: 3rem;
    font-style: italic;
    font-stretch: extra-expanded;
    letter-spacing: 3px;
}
.p_style{
  width: 580px;
  height: 200px;
  text-align: justify;
}
